#settingBoard,
#difficultBoard,
#confirmBtnBoard,
#warningBoard,
#nowLifeBoard {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    margin: 10px;
}

#nowLifeText {
    font-size: 20px;
    margin-top: 5px;
}

#nowLife {
    font-size: 30px;
    color: red;
    margin-left: 10px;
}

.settingItem,
#difficult,
#life {
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
    position: relative;
    margin: auto;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

#Board {
    position: relative;
    width: 500px;
    height: 500px;
}

.hiddenBtn,
.pressBtn,
.hintBtn {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-width: 1px;
    border-radius: 0%;
    margin: 0px;
}

.hintBtn {
    background-color: gray;
    text-align: left;
}

.hiddenBtn {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    margin: 0px;
}